@use "/src/sass/base/variables.scss" as *;

.about {
  padding-top: 50px;
  &__title {
    margin-top: 60px;
    letter-spacing: -1px;
  }
  &__wrapper {
    margin-top: 60px;
  }
  &__img {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  &__text {
    margin-top: 35px;
    color: $dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 112%;
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__img {
      width: 600px;
      margin: 0 auto;
    }
    &__text {
      line-height: 122%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .about {
    &__wrapper {
      display: flex;
      gap: 20px;
    }
    &__img {
      width: 550px;
    }
    &__text {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 1920px) {
  .about {
    padding-top: 40px;
    &__title {
      margin-top: 100px;
    }
    &__wrapper {
      margin-top: 100px;
    }
    &__img {
      width: 700px;
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
