@use "/src/sass/base/variables.scss" as *;

.footer {
  margin-top: 60px;
  background-color: $dark;
  padding-top: 50px;
  padding-bottom: 50px;

  &__header {
    color: $light;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 40px;
    color: $light;
    font-size: 16px;
    font-weight: 400;
  }
  &__input {
    color: $color-ui-light;
    margin-top: 40px;
    background-color: $dark;
    border: none;
    &::placeholder {
      color: $color-ui-light;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }
  &__divider {
    margin-top: 14.5px;
    border: 1px solid $color-ui-light;
    width: 293px;
  }
  &__check-block {
    display: flex;
    align-items: center;
    margin-top: 20.5px;
    color: $light;
    a {
      text-decoration: none;
      color: #a22dc6;
      margin-left: 4px;
    }
  }
  &__checkbox {
    margin-right: 15px;
    width: 15px;
    height: 15px;
  }
  &__btn {
    margin-top: 20px;
  }
  &__links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 40px;
  }
  &__nav {
    margin-top: 40px;
    ul {
      padding-inline-start: 0px;
    }
    li {
      margin-top: 20px;
      color: $light;
      font-size: 16px;
      font-weight: 400;
      list-style-type: none;
    }
  }
  &__social {
    margin-top: 40px;
  }
  &__social-block {
    margin-top: 40px;
    padding-inline-start: 0px;
    column-gap: 14px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    a {
      display: block;
      color: $light;
      text-decoration: none;
      font-size: 21px;
    }
    span::before {
      margin: 0;
    }
  }
  &__copyright {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: $light;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__letter {
      width: 100%;
    }
    &__copyright {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__letter {
      width: auto;
    }
    &__social,
    &__links {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    margin-top: 100px;
    padding-top: 80px;
    &__copyright {
      margin-top: 18px;
    }
  }
}
